customization:
    systemExtensions:
        officialExtensions:
            - siderolabs/gvisor
            - siderolabs/kata-containers
            - siderolabs/nfs-utils
            - siderolabs/nvme-cli
            - siderolabs/qemu-guest-agent
    bootloader: sd-boot
